@model EkinciProject.Admin.Models.TeamEditViewModel
@{
    ViewBag.Title = "TeamEditDeletePage";
}
<link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
<link href="~/Content/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/assets/libs/css/style.css">
<link rel="stylesheet" href="~/Content/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/datatables/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/datatables/css/buttons.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/datatables/css/select.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/datatables/css/fixedHeader.bootstrap4.css">

<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content" style="margin-top:70px;">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Kayıtlı Takım</h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered first">
                                <thead>
                                    <tr>
                                        <th>Numara</th>
                                        <th>Ünvanı</th>
                                        <th>Ekip Üyesi</th>
                                        <th>Durum</th>
                                        <th>Düzenle</th>
                                        <th>Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TeamList)
                                    {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Title</td>
                                        <td>@item.FullName</td>
                                        <td>
                                            @{if (item.Status == true)
                                                {
                                                    <label class="label label-success">Aktif</label>

                                                }
                                                else
                                                {
                                                    <label class="label label-danger">Pasif</label>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @Html.ActionLink("Düzenle", "TeamEdit", "Team", new { Id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Sil", "TeamDelete", "Team", new { Id = item.Id }, new { @class = "btn btn-xs btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="~/Content/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<script src="~/Content/assets/vendor/multi-select/js/jquery.multi-select.js"></script>
<script src="~/Content/assets/libs/js/main-js.js"></script>
<script src="../../../../../cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="~/Content/assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="../../../../../cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="~/Content/assets/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/assets/vendor/datatables/js/data-table.js"></script>
<script src="../../../../../cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="../../../../../cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="../../../../../cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="../../../../../cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="../../../../../cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script src="../../../../../cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="../../../../../cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
<script src="../../../../../cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
<script src="../../../../../cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>

